node_modules/
tmp/
*.sublime-*
*.log
.DS_Store

logs
npm-debug.log*
yarn-debug.log*
.eslintcache
/coverage
/dist
/local
/reports
/node_modules
Thumbs.db
.idea
.vscode
*.sublime-project
*.sublime-workspace